:root {
    --bg-color: #F2E9D8;
    --p-color: #000000;
    --btn-color: #D97652;
    --btn-p-color: #FFFFFF;
    --sub-color:#263140;
    --social-color:#F29D52;
}

body {
    width: 100vw;
    height: auto;
    background-color: var(--btn-p-color);
}

header {
    width: 100%;
    height: 102px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container_navigation-bar {
    width: 66.6%;
    height: 52px;
    position: relative;
}

header .container_navigation-bar img {
    width: 130px;
    aspect-ratio: 13 / 4;
    position: absolute;
    top: 6px;
    left: 0px;
}

header .container_navigation-bar nav {
    width: 395px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header .container_navigation-bar nav ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header .container_navigation-bar nav ul li {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 400;
}

.btn-download {
    width: 141px;
    height: 52px;
    background-color: var(--btn-color);
    border-radius: 40px;
    color: var(--btn-p-color);
    font-size: 16px;
    font-weight: 700;
}

main {
    width: 100%;
    height: 2685px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

main .section-hero {
    width: 100%;
    height: 798px;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 131px;
}

main .section-hero .hero-content {
    width: 734px;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

main .section-hero .hero-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--p-color);
}

main .section-hero .hero-content p {
    width: 438px;
    height: 94px;
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
}

main .section-container {
    width: 66.6%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

main .section-container .section-feature-01 {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

main .section-container .section-feature-01 img {
    width: 660px;
    aspect-ratio: 66 / 39;
    border-radius: 30px;
}

main .section-container .section-feature-01 .feature-content {
    width: 510px;
    height: 224px;
}

main .section-container .section-feature-01 .feature-content h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--p-color);
    text-align: center;
}

main .section-container .section-feature-01 .feature-content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
}



/* .scroll-top-btn {
    width: 50px;
    height: 50px;
    border: solid 1px #c4c4c4;
    border-radius: 100%;
    position: sticky;
} */